$color-rose: #f4dbd6;
$color-pink: #f5bde6;
$color-mantle: #1e2030;
$color-base: #24273a;
$color-text: #cad3f5;
$color-teal: #8bd5ca;
$color-sky: #91d7e3;
$color-sapphire: #7dc4e4;
$color-blue: #8aadf4;
$color-mauve: #c6a0f6;
$color-red: #ed8796;
$color-maroon: #ee99a0;
$color-peach: #f5a97f;
$color-yellow: #eed49f;
$color-green: #a6da95;
$color-surface2: #5b6078;

$color-white0: #a9b1d6;
$color-white1: #9aa5ce;
$color-white2: #c0caf5;
$color-gray: #cfc9c2;
$color-black0: #1a1b26;
$color-black1: #24283b;
$color-blue: #7aa2f7;

* {
  all: unset;
  font-family: Iosevka;
}

scale trough {
  all: unset;
  background-color: $color-white1;
  border-radius: 16px;
  min-height: 10px;
  min-width: 120px;
  margin: 0px 10px 0px 0px;
}

.vol_bar {
  background-color: $color-base;
}

.vol_bar scale trough highlight {
  all: unset;
  background-color: $color-blue;
  border-radius: 24px;
}

.iconvol {
  padding-left: 20px;
  color: $color-white0;
  font-size: 32px;
  font-weight: normal;
}

.blight_bar {
  background-color: $color-black0;
}

.blight_bar scale trough highlight {
  all: unset;
  background-color: $color-blue;
  border-radius: 24px;
}

.iconblight {
  padding-left: 20px;
  color: $color-white0;
  font-size: 32px;
  font-weight: normal;
}

.powermenu {
  background-color: $color-black0;
  border-radius: 10px;
}

.shutdown, .reboot, .lock, .suspend, .logout {
  color: $color-white0;
  font-size: 40px;
  margin: 10px;
}

.foretext {
  color: $color-white1;
  font-family: Iosevka Nerd Font;
  font-size: 20px;
  font-weight: normal;
}
