// Contains colors, fonts, and other global variables
$color-white0: #cacaca;
$color-white1: #bfbfbf;
$color-white2: #a0a0a0;
$color-gray: #767676;
$color-black0: #0f0f0f;
$color-black1: #191919;
$color-black2: #393939;

$color-purple: #8f8aac;
$color-pink: #ac8aac;
$color-yellow: #aca89a;
$color-red: #ac8a8c;
$color-orange: #c6a679;
$color-cyan: #8aacab;
$color-green: #8aac8b;
$color-blue: #8a98ac;

$mat-icon-font: "material";
$display-font: "Iosevka Nerd Font Mono";
$nerd-icon-font: "Iosevka Mono Nerd Font Mono";

* {
  all: unset;
}
