$color-white0: #a9b1d6;
$color-white1: #9aa5ce;
$color-white2: #c0caf5;
$color-gray: #cfc9c2;
$color-black0: #1a1b26;
$color-black1: #24283b;
$color-blue: #7aa2f7;

* {
  all: unset;
}

.bar {
  background-color: $color-black0;
  padding: 0px 2px;
}

.launcher-button {
  background-color: $color-black1;
  color: $color-white0;
  border-radius: 5px;
  padding: 0px 10px;
  margin: 2px 5px 2px 0px;
  font-family: Material\-Design\-Iconic\-Font;
  font-size: 18px;
}

// Workspaces
.works-container {
  font-family: Iosevka Nerd Font;
  padding: 5px;
  margin: 2px 5px;
  background-color: $color-black1;
  border-radius: 5px;
}

.00,
.010,
.020,
.030,
.040,
.050,
.060,
.011,
.022,
.033,
.044,
.055,
.066,
.0111,
.0222,
.0333,
.0444,
.0555,
.0666 {
  border-radius: 20px;
  margin: 5px;
}

/* Unoccupied */
.00 {
  background-color: $color-white0;
  min-height: 10px;
  min-width: 10px;
}

/* Focused */
.011,
.022,
.033,
.044,
.055,
.066,
.0111,
.0222,
.0333,
.0444,
.0555,
.0666 {
  background-color: $color-blue;
  min-height: 10px;
  min-width: 25px;
}

/* Occupied */
.010,
.020,
.030,
.040,
.050,
.060 {
  background-color: $color-gray;
  min-height: 10px;
  min-width: 15px;
}

.spotify-container {
  margin: 2px 5px;
  background-color: $color-black1;
  padding: 5px;
  border-radius: 5px;
}

.spotify-artist {
  font-family: Iosevka Nerd Font;
  font-size: 16px;
  color: $color-white1;
}

.spotify-separator {
  font-family: Iosevka Nerd Font;
  font-size: 12px;
  color: $color-blue;
  margin: 0px 10px;
}

.spotify-title {
  font-family: Iosevka Nerd Font;
  font-size: 16px;
  color: $color-white0;
}

.spotify-controls-container {
  margin: 0px 0px 0px 10px;
}

.prev-button,
.toggle-button,
.next-button {
  font-family: Material\-Design\-Iconic\-Font;
  font-size: 20px;
  color: $color-blue;
  margin: 0px 2px;
  background-color: $color-black0;
  padding: 0px 5px;
  border-radius: 5px;
}

.control-container {
  margin: 2px 5px;
  background-color: $color-black1;
  padding: 5px;
  border-radius: 5px;
}

.control-bat-container,
.control-wifi-container,
.control-bright-container,
.control-vol-container {
  padding: 0px 10px;
}

.control-wifi-text,
.control-bat-text,
.control-bright-text,
.control-vol-text {
  margin-left: 5px;
  font-family: Iosevka Nerd Font;
  font-size: 16px;
  color: $color-blue;
}

.control-bright-tray,
.control-wifi-tray,
.control-vol-tray {
  font-family: Material\-Design\-Iconic\-Font;
  font-size: 18px;
  color: $color-white0;
}

.control-bat-tray {
  font-family: Iosevka Nerd Font;
  font-size: 18px;
  color: $color-white0;
}

.tray-container {
  margin: 2px 5px;
  background-color: $color-black1;
  padding: 5px 5px;
  border-radius: 5px;
}

.time-container {
  margin: 2px 5px;
  background-color: $color-black1;
  padding: 5px 5px;
  border-radius: 5px;
}

.time-hour,
.time-min {
  font-family: Iosevka Nerd Font;
  font-size: 18px;
  color: $color-white2;
}

.time-separator {
  font-family: Iosevka Nerd Font;
  font-size: 18px;
  color: $color-blue;
}

.time-detail-container {
  margin-left: 10px;
}

.time-detail-month,
.time-detail-day {
  font-family: Iosevka Nerd Font;
  font-size: 18px;
  color: $color-white1;
}

.notification-button {
  background-color: $color-black1;
  color: $color-white0;
  border-radius: 5px;
  padding: 0px 10px;
  margin: 2px 5px;
  font-family: Material\-Design\-Iconic\-Font;
  font-size: 18px;
}

.power-button {
  background-color: $color-black1;
  color: $color-white0;
  border-radius: 5px;
  padding: 0px 10px;
  margin: 2px 0px 2px 5px;
  font-family: Material\-Design\-Iconic\-Font;
  font-size: 18px;
}

// Launcher Decoration

.launcher-container {
  background-color: $color-black0;
  padding: 10px;
}

.profile-image-container {
  background-color: $color-black1;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 5px;
}

.time-message-container {
  background-color: $color-black1;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 5px;
}

.time-message-day {
  font-family: Iosevka Nerd Font;
  font-size: 18px;
  color: $color-white1;
}

.time-message {
  font-family: Iosevka Nerd Font;
  font-size: 20px;
  color: $color-white0;
}

.uptime-message {
  font-family: Iosevka Nerd Font;
  font-size: 10px;
  color: $color-gray;
}

.weather-message-container {
  background-color: $color-black1;
  border-radius: 5px;
  margin: 0px 5px;
  padding: 10px;
}

.weather-temp {
  color: $color-blue;
  font-family: Iosevka Nerd Font;
  font-size: 18px;
}

.weather-stat {
  color: $color-white0;
  font-family: Iosevka Nerd Font;
  font-size: 12px;
}

.weather-icon {
  font-family: Iosevka Nerd Font;
  font-size: 28px;
  margin-left: 20px;
}

.weather-loc {
  margin-left: 20px;
}

.weather-city {
  font-family: Iosevka Nerd Font;
  font-size: 12px;
  color: $color-white2;
}

.weather-country {
  font-family: Iosevka Nerd Font;
  font-size: 12px;
  color: $color-white2;
}

.top-container {
  margin: 5px 0px;
}

.search-container {
  background-color: $color-black1;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.search-bar-container {
  background-color: $color-black0;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.search-label {
  font-family: Iosevka Nerd Font;
  font-size: 14px;
  color: $color-white0;
}

.search-bar {
  font-family: Iosevka Nerd Font;
  font-size: 16px;
  color: $color-white0;
  margin-left: 12px;
}

.item {
  font-family: Iosevka Nerd Font;
  font-size: 14px;
  color: $color-white1;
}

.apps {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: $color-black0;
}

.stats-container {
  background-color: $color-black1;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
}

.stats-cpu-icon,
.stats-mem-icon {
  font-family: Material\-Design\-Iconic\-Font;
  font-size: 20px;
  color: $color-white0;
}

.stats-bat-icon,
.stats-temp-icon {
  font-family: Iosevka Nerd Font;
  font-size: 20px;
  color: $color-white0;
}

.stats-bat-scale,
.stats-cpu-scale,
.stats-mem-scale,
.stats-temp-scale {
  margin: 5px;
  color: $color-white0;
}

.stats-bat-background,
.stats-cpu-background,
.stats-mem-background,
.stats-temp-background {
  color: $color-black0;
}

.adj-stats-container {
  background-color: $color-black1;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.stats-bright-icon,
.stats-vol-icon {
  font-family: Material\-Design\-Iconic\-Font;
  font-size: 20px;
  color: $color-white0;
  margin: 5px;
}

.stats-bright-scale,
.stats-vol-scale {
  margin: 5px;
}

.stats-bright-scale trough,
.stats-vol-scale trough {
  border-radius: 16px;
  background-color: $color-black0;
  min-height: 120px;
  min-width: 8px;
}

.stats-bright-scale highlight,
.stats-vol-scale highlight {
  border-radius: 24px;
  background-color: $color-white0;
}

.app-container {
  background-color: $color-black1;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.app-left-container {
  margin-right: 15px;
}

.app-right-container {
  margin: 0px 15px;
}

.firefox,
.discord,
.settings,
.kitty,
.thunar,
.code {
  font-family: Iosevka Nerd Font;
  font-size: 36px;
  color: $color-white0;
}

.powermenu-container {
  background-color: $color-black1;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.shutdown-button,
.reboot-button,
.lock-button,
.suspend-button,
.logout-button {
  font-family: Iosevka Nerd Font;
  font-size: 24px;
  color: $color-blue;
  margin-right: 4px;
}

//Notification Center
.notification-layout-box {
  background-color: $color-black0;
  border-radius: 5px;
}

.notification-headers-label {
  color: $color-white0;
  margin: 10px;
  font-size: 20px;
  background-color: $color-black1;
  border-radius: 5px;
  padding: 10px;
}

.notification-headers-clear {
  color: $color-blue;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
  background-color: $color-black1;
}

.notification-card-header-box {
  background-color: $color-black1;
  border-radius: 5px 10px 0px 0px;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.notification-app-name {
  font-family: Iosevka Nerd Font;
  font-size: 20px;
  color: $color-white0;
  font-size: 20px;
}

.notification-card-notify-close {
  font-family: Material\-Design\-Iconic\-Font;
  font-size: 20px;
  color: $color-blue;
}

.notification-literal {
  background-color: $color-black1;
  margin: 5px 10px;
  border-radius: 5px;
}

.notification-card-header-box {
  background-color: $color-black0;
}

.notification-card-box {
  background-color: $color-black0;
  color: $color-white0;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
}

.notification-summary {
  font-family: Iosevka Nerd Font;
  font-size: 20px;
  color: $color-white0;
}

.notification-body {
  font-family: Iosevka Nerd Font;
  font-size: 16px;
  color: $color-white1;
}

.notifications-empty-label {
  font-family: Iosevka Nerd Font;
  font-size: 16px;
  color: $color-white1;
}

.notification-image {
  margin-right: 10px;
}

.notification-card-body {
  margin-left: 10px;
}

.calendar-container {
  background-color: $color-black0;
  border-radius: 5px;
}

.calendar-header {
  background-color: $color-black1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10px 5px 10px;
  font-family: Iosevka Nerd Font;
  font-size: 20px;
  color: $color-white0;
}

.calendar-body {
  background-color: $color-black1;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 10px 10px 10px;
}

.cal {
  color: $color-white0;
  font-size: 20px;
  &.highlight {
    padding: 10rem;
  }
  padding: 1.2rem 0.2rem 1.2rem;
}

calendar:selected {
  background-color: $color-blue;
  border-radius: 5px;
  color: $color-black1;
}

calendar.header {
  color: $color-white0;
  font-weight: bold;
}

calendar.button {
  color: $color-white0;
}

calendar.highlight {
  color: $color-blue;
  font-weight: bold;
}

.quote-container {
  background-color: $color-black1;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.quote-header {
  font-family: Iosevka Nerd Font;
  font-size: 12px;
  color: $color-white0;
}

.quote-body {
  font-family: Iosevka Nerd Font;
  font-size: 16px;
  color: $color-blue;
}

.spotify-dash-container {
  margin: 5px;
}

.spotify-dash-art-size {
  border-radius: 5px;
}

.spotify-dash-art {
  opacity: 0.3;
}

.spotify-dash-info-container {
  margin: 10px;
}

.spotify-dash-main-container {
  margin-right: 5px;
}

.spotify-dash-control-container {
  margin-left: 5px;
}

.spotify-dash-title {
  font-family: Iosevka Nerd Font;
  font-size: 20px;
  color: $color-white0;
}

.spotify-dash-artist {
  font-family: Iosevka Nerd Font;
  font-size: 14px;
  color: $color-white1;
}

.spotify-dash-track trough {
  background-color: $color-black0;
  border-radius: 16px;
  min-height: 10px;
  min-width: 220px;
}

.spotify-dash-track highlight {
  background-color: $color-blue;
  border-radius: 24px;
}

.spotify-dash-control-container {
  background-color: $color-black1;
  padding: 10px;
  border-radius: 5px;
}

.spotify-dash-prev-button,
.spotify-dash-toggle-button,
.spotify-dash-next-button {
  font-family: Material\-Design\-Iconic\-Font;
  font-size: 20px;
  color: $color-blue;
  margin: 8px 0px;
  background-color: $color-black0;
  border-radius: 5px;
}

.spotify-player-container {
  background-color: $color-black0;
  padding: 10px;
  border-radius: 5px;
}

.spotify-player-top-container {
  background-color: $color-black1;
  // margin: 5px 5px 0px 5px;
  margin: 5px;
  padding: 10px;
  // border-radius: 5px 10px 0px 0px;
  border-radius: 5px;
}

.spotify-player-info-container {
  margin-left: 10px;
}

.spotify-player-artist {
  font-family: Iosevka Nerd Font;
  font-size: 14px;
  color: $color-white0;
}

.spotify-player-title {
  font-family: Iosevka Nerd Font;
  font-size: 16px;
  color: $color-blue;
}

.spotify-player-track-container {
  margin: 5px;
}

.spotify-player-track trough {
  background-color: $color-black0;
  border-radius: 24px;
  min-width: 200px;
  min-height: 8px;
}

.spotify-player-track highlight {
  background-color: $color-blue;
  border-radius: 16px;
}

.spotify-player-curtime {
  font-family: Iosevka Nerd Font;
  font-size: 14px;
  color: $color-white0;
  margin-right: 10px;
}

.spotify-player-track-container {
  background-color: $color-black1;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.spotify-player-tottime {
  font-family: Iosevka Nerd Font;
  font-size: 14px;
  color: $color-white0;
  margin-left: 10px;
}

.spotify-player-control-container {
  background-color: $color-black1;
  // margin: 0px 5px 5px 5px;
  margin: 5px;
  padding: 5px;
  // border-radius: 0px 0px 10px 10px;
  border-radius: 5px;
}

.spotify-shuffle-button,
.spotify-loop-button {
  font-family: Material\-Design\-Iconic\-Font;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  background-color: $color-black0;
  border-radius: 5px;
}

.spotify-backward-button,
.spotify-prev-button,
.spotify-toggle-button,
.spotify-next-button,
.spotify-forward-button {
  font-family: Material\-Design\-Iconic\-Font;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  color: $color-white0;
  background-color: $color-black0;
  border-radius: 5px;
}

.settings-panel-container {
  padding: 10px;
  background-color: $color-black0;
  border-radius: 5px;
}

.settings-adj-container {
  margin: 5px;
  background-color: $color-black1;
  padding: 10px;
  border-radius: 5px;
}

.settings-sub-container {
  margin: 5px;
  padding: 0px 10px;
}

.mic-icon,
.vol-icon,
.bright-icon,
.wifi-icon,
.blue-icon,
.settings-icon,
.lock-icon,
.power-icon {
  font-family: Material\-Design\-Iconic\-Font;
  font-size: 20px;
}

.mic-text,
.wifi-text,
.blue-text,
.bat-text,
.settings-text,
.lock-text,
.power-text {
  font-family: Iosevka Nerd Font;
  font-size: 20px;
}

.bat-icon {
  font-family: Iosevka Nerd Font;
  font-size: 20px;
}

.bright-scale trough,
.vol-scale trough {
  background-color: $color-black0;
  border-radius: 16px;
  min-height: 12px;
  min-width: 200px;
}

.bright-scale highlight,
.vol-scale highlight {
  background-color: $color-blue;
  border-radius: 24px;
}
